.App {
	background-color: #1E2F89;
	color: #DFC0C0;

	height: 100vh;
	padding-left: 3em;
	padding-right: 3em;
}
.App h1 {
	text-align: center;
}
.song-list {
	margin-top: 1em;
	list-style-type: none;
}
.song-list > li {
	padding: 0.25em 1em;
	background-color: #3028CF;
	transition: padding 0.5s;
}
.song-list > li:hover {
	cursor: pointer;
	text-decoration: underline;
}
.song-list > li:nth-child(even) {
	background-color: #4C28CF;
}
.song-list > li.selected {
	padding-left: 2em;
}
